# Quando se quer escrever um número na coluna, se chama o str antes dos colchetes:
str(1)

# Para colocar espaços entre 2 textos descritos em colunas:

- usasse o (+) para chamar a soma das informações;
- depois as duas("") com o espaço desejado entre ambas. 

ex:df['Subdivisao'] +" "+df['Comentário/descrição']

1° IMPORTE A PLANILHA NO DIRETÓRIO.

2° ESCREVA O NOME DO ARQUIVO USADO

3° CONFIRA AS CONTAS DOS LANÇAMENTOS

PARA RODAR OS CÓDIGO: CTRL+ENTER

# DIGITE O NOME DO ARQUIVO

In [9]:
import pandas as pd

#ESCREVA O NOME DO ARQUIVO entre os colchetes. ex: 'XP.xlsx'
df = pd.read_excel('PLANILHA.xlsx')

#veja a planilha
display(df)

,Data,Tipo de transação,Nº,Aju,Nome,Comentário/descrição,Conta,Subdivisao,Valor,Saldo,Taxa de câmbio revalorizada,Valor.1,Perda ou ganho não realizado
0,01/09/2021,Depósito,NaN,Não,Itaú,REND PAGO APLIC AUT MAIS,Banco,Receitas Financeiras,0.13,32927.72,NaN,0.13,0
1,01/09/2021,Baixa de despesa a prazo,NaN,Não,Nakatana,NaN,Banco,Contas a pagar (C/P),-17894.69,17033.03,NaN,-17894.69,0
2,01/09/2021,Baixa de despesa a prazo,NaN,Não,Nakatana,NaN,Banco,Contas a pagar (C/P),-2479.00,-5445.97,NaN,-2479.00,0
3,01/09/2021,Baixa de despesa a prazo,NaN,Não,Nakatana,NaN,Banco,Contas a pagar (C/P),-657.00,-5945.97,NaN,-657.00,0
4,01/09/2021,Baixa de despesa a prazo,NaN,Não,Nakatana,NaN,Banco,Contas a pagar (C/P),-76240.60,-8186.57,NaN,-76240.60,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,29/09/2021,Pagamento,NaN,Não,BATOWN,NaN,Banco,Contas a Receber (C/R),280.34,3993.90,NaN,280.34,0
105,29/09/2021,Pagamento,NaN,Não,BATOWN,NaN,Banco,Contas a Receber (C/R),2705.10,6699.00,NaN,2705.10,0
106,30/09/2021,Pagamento,NaN,Não,BATOWN,NaN,Banco,Contas a Receber (C/R),294.46,6993.46,NaN,294.46,0
107,30/09/2021,Baixa de despesa a prazo,NaN,Não,BATOWN,NaN,Banco,Contas a pagar (C/P),-359.97,6633.49,NaN,-359.97,0
108,30/09/2021,Baixa de despesa a prazo,NaN,Não,BATOWN,NaN,Banco,Contas a pagar (C/P),-11.24,6622.25,NaN,-11.24,0

# ATUALIZE AS CONTAS PARA O LANÇAMENTO

In [10]:
#ex:df.loc[df['Subdivisao'] == 'Contas a pagar (C/P)' , 'DÉBITO'] = str(111111)
df.loc[df['Subdivisao'] == 'Contas a pagar (C/P)' , 'DÉBITO'] = str(23)
df.loc[df['Subdivisao'] == 'Contas a Receber (C/R)' , 'DÉBITO'] = str(2)
df.loc[df['Subdivisao'] == 'Fundo Referenciado Itaú' , 'DÉBITO'] = str(3)
df.loc[df['Subdivisao'] == 'Encargos bancários' , 'DÉBITO'] = str(4)
df.loc[df['Subdivisao'] == 'Impostos' , 'DÉBITO'] = str(5)
df.loc[df['Subdivisao'] == 'Receitas Financeiras' , 'DÉBITO'] = str(6)

df.loc[df['Subdivisao'] == 'Contas a pagar (C/P)' , 'CRÉDITO'] = str(3543)
df.loc[df['Subdivisao'] == 'Contas a Receber (C/R)' , 'CRÉDITO'] = str(2728)
df.loc[df['Subdivisao'] == 'Fundo Referenciado Itaú' , 'CRÉDITO'] = str(8639)
df.loc[df['Subdivisao'] == 'Encargos bancários' , 'CRÉDITO'] = str(1340)
df.loc[df['Subdivisao'] == 'Impostos' , 'CRÉDITO'] = str(11)
df.loc[df['Subdivisao'] == 'Receitas Financeiras' , 'CRÉDITO'] = str(2312)

#ISSO SELECIONA A COLUNA DESEJADA OU CRIA OUTRA NOVA
#E CONCATENA AS COLUNAS DESEJADAS PARA FORMAR A INFORMAÇÃO QUE DESEJA DEPOSITAR NELA
df['HISTÓRICO'] = "VLR. REF."+"  "+df['Subdivisao'] +": "+df['Comentário/descrição']
df.loc[df['Subdivisao'] == 'Contas a Receber (C/R)' , 'HISTÓRICO'] = "VLR. REF."+"  "+df['Subdivisao']+": - "+df['Nome']
df.loc[df['Subdivisao'] == 'Receitas Financeiras' , 'HISTÓRICO'] = "VLR. REF."+"  "+df['Subdivisao']+": "+df['Comentário/descrição']+" - "+df['Nome']      
df.loc[df['Subdivisao'] == 'Contas a pagar (C/P)' , 'HISTÓRICO'] = "VLR. REF."+"  "+df['Subdivisao']+": - " +df['Nome']
df.loc[df['Subdivisao'] == 'Cartão de crédito | Itaú' , 'HISTÓRICO'] = "VLR. REF."+df['Subdivisao']+": - "

# VER A TABELA

In [3]:
display(df)

,Data,Tipo de transação,Nº,Aju,Nome,Comentário/descrição,Conta,Subdivisao,Valor,Saldo,Taxa de câmbio revalorizada,Valor.1,Perda ou ganho não realizado,Unnamed: 13,Unnamed: 14,Unnamed: 15,DÉBITO,CRÉDITO,HISTÓRICO
0,01/09/2021,Depósito,NaN,Não,Itaú,REND PAGO APLIC AUT MAIS,Banco,Receitas Financeiras,0.13,32927.72,NaN,0.13,0,NaN,NaN,NaN,6,2312,VLR. REF. Receitas Financeiras: REND PAGO APL...
1,01/09/2021,Baixa de despesa a prazo,NaN,Não,Nakatana,NaN,Banco,Contas a pagar (C/P),-17894.69,17033.03,NaN,-17894.69,0,NaN,NaN,NaN,23,3543,VLR. REF. Contas a pagar (C/P): - Nakatana
2,01/09/2021,Baixa de despesa a prazo,NaN,Não,Nakatana,NaN,Banco,Contas a pagar (C/P),-2479.00,-5445.97,NaN,-2479.00,0,NaN,NaN,NaN,23,3543,VLR. REF. Contas a pagar (C/P): - Nakatana
3,01/09/2021,Baixa de despesa a prazo,NaN,Não,Nakatana,NaN,Banco,Contas a pagar (C/P),-657.00,-5945.97,NaN,-657.00,0,NaN,NaN,NaN,23,3543,VLR. REF. Contas a pagar (C/P): - Nakatana
4,01/09/2021,Baixa de despesa a prazo,NaN,Não,Nakatana,NaN,Banco,Contas a pagar (C/P),-76240.60,-8186.57,NaN,-76240.60,0,NaN,NaN,NaN,23,3543,VLR. REF. Contas a pagar (C/P): - Nakatana
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,29/09/2021,Pagamento,NaN,Não,BATOWN,NaN,Banco,Contas a Receber (C/R),280.34,3993.90,NaN,280.34,0,NaN,NaN,NaN,2,2728,VLR. REF. Contas a Receber (C/R): - BATOWN
105,29/09/2021,Pagamento,NaN,Não,BATOWN,NaN,Banco,Contas a Receber (C/R),2705.10,6699.00,NaN,2705.10,0,NaN,NaN,NaN,2,2728,VLR. REF. Contas a Receber (C/R): - BATOWN
106,30/09/2021,Pagamento,NaN,Não,BATOWN,NaN,Banco,Contas a Receber (C/R),294.46,6993.46,NaN,294.46,0,NaN,NaN,NaN,2,2728,VLR. REF. Contas a Receber (C/R): - BATOWN
107,30/09/2021,Baixa de despesa a prazo,NaN,Não,BATOWN,NaN,Banco,Contas a pagar (C/P),-359.97,6633.49,NaN,-359.97,0,NaN,NaN,NaN,23,3543,VLR. REF. Contas a pagar (C/P): - BATOWN
108,30/09/2021,Baixa de despesa a prazo,NaN,Não,BATOWN,NaN,Banco,Contas a pagar (C/P),-11.24,6622.25,NaN,-11.24,0,NaN,NaN,NaN,23,3543,VLR. REF. Contas a pagar (C/P): - BATOWN

# SALVAR EM UM EXCEL

In [11]:
df.to_excel("PLANILHA.xlsx", index= False)